* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
	background-color: rgb(241, 255, 214)
}
#flowers-list-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

.flowers-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
	margin-top: 25px;
	border: 4px solid rgb(66, 145, 133);
	width: 400px;
	color: rgb(41, 126, 196);
	font-family: sans-serif;
	font-weight: bold;
	font-size: 18px;
	padding: 20px;
}

.flowers-name {
    color: rgb(255, 104, 220);
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
	
}
